/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2022, 6:16:07 PM
    Author     : Manuel
*/
body{
        padding: 2em;
            background-color: #111111;
    font-family: "Titillium Web", sans-serif;
    margin: 0;
     width: 90%;
}

h1{
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 4em;
    line-height: 1.25;
    text-align: center;
}

.crear h1{
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 4em;
    line-height: 1.25;
    text-align: center;
}

h2{
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 3.7em;
    line-height: 1.25;
    text-align: center;
}

.index h2{
    font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 4em;
    line-height: 1.25;
    text-align: center;
}
.division hr{
    height: 2px;
  width: 40%;
  background-color: white;
}

.divisionGrande{
     height: 4px;
  width: 80%;
  background-color: white;
}
.formulario label{
        font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 3em;
    line-height: 1.25;
    position: relative;
    z-index: 100;
    
}

.formulario form{
               max-width: 40em;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    
}


.formulario  input {
    
           font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    background: #222222;
    color: white;
    position: relative;
    margin: 0 0 1.5em 0;
    font-size: 3em;
    padding: 0.25em 0.1em;
}


.tabla  input {
    
           font: inherit;
    line-height: normal;
    width: 10%;
    box-sizing: border-box;
    background: #222222;
    color: white;
    position: relative;
    margin: 0 0 1.5em 0;
    font-size: 3em;
    padding: 0.25em 0.1em;
}

.formulario  select {
    
           font: inherit;
    line-height: normal;
    width: 70%;
    box-sizing: border-box;
    background: #222222;
    color: white;
    position: relative;
    margin: 0 0 1.5em 0;
    font-size: 3em;
    padding: 0.25em 0.1em;
}



.index p{
       font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 3em;
    line-height: 1.25;
    position: relative;
    z-index: 100;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
  font-weight: bold;
    color: white;
    padding-top: 0;
    padding-left: 1em;
    margin: 0.3em;
    letter-spacing: 0.025em;
    font-size: 2.5em;
    line-height: 1.25;
    position: relative;
    z-index: 100;
    text-align: center;
    
}

.formimput input{
    
    box-sizing: border-box;
    background: #222222;
    color: white;
    font-size: 10em;
     width: 100%;
}
caption {
   padding: 0.3em;
}

